<p id="notice"><%= notice %></p>

<h1>Article</h1>

<div id="articles">
  <%= render @articles %>
</div>

<turbo-frame id="new_article" src="<%= new_article_path %>" target="_top">
  <%= link_to "New article", new_article_path %>
</turbo-frame>
