<p id="notice"><%= notice %></p>

<%= render @article %>

<div>
  <%= link_to "Back to articles", articles_path %>

  <%= button_to "Destroy this article", article_path(@article), method: :delete %>
</div>
